.online {
    background-color: #ecf5ff;
}

.example-spacer {
  flex: 1 1 auto;
}

.server-status{
    text-align:left; 
    float:left;
}

.server-toggle{ 
    text-align:right; 
}

.server-online{
    background-color: #dbb7ff;
}

.server-offline{
    background-color: white;
}