

<div class="example-container">
<md-input-container class="example-full-width">
  <input mdInput placeholder="Server Name" [(ngModel)]="serverName" [disabled]="!allowNewServer" >  
</md-input-container>
</div>

<div class="example-container">
  <div class="button-row">
    <button md-raised-button
      [disabled]="serverName ===''"
      (click)="onCreateServer()">Add Server</button>
      <!-- <p>{{ serverName }}</p> -->
      <!-- <p [innerText]="allowNewServer"><p> -->
      <!-- <p *ngIf="serverCreated" >{{ serverCreationStatus }}</p> -->
  </div>
</div>

<div class="example-container">
<app-server *ngFor = "let server of servers" ></app-server>

</div>

