
<div class="example-container">
  <div class="button-row">
    <button md-raised-button [disabled]="!allowNewServer">Add Server</button>
  </div>
</div>

<div class="row">
  <div class="collection">
    <a href="#!" class="collection-item"><app-server></app-server></a>
    <a href="#!" class="collection-item"><app-server></app-server></a>
    <a href="#!" class="collection-item"><app-server></app-server></a>
    <a href="#!" class="collection-item"><app-server></app-server></a>
  </div>
</div>
