<!--The whole content below can be removed with the new code.-->

<app-toolbar></app-toolbar>

<div class="main_window">

<app-basics3></app-basics3>

<app-username></app-username>

<app-servers></app-servers>

<app-warning-alert></app-warning-alert>

<app-success-alert></app-success-alert>

<div class="example-container">
<md-card>
<md-grid-list cols="4" rowHeight="100px">
  <md-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </md-grid-tile>
</md-grid-list>
</md-card>
<div>
  
<app-image></app-image>

</div>



